<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&amp;display=swap'>
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <title>Todo List</title>
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <div class="container-md">
      <a class="navbar-brand">
        <img src="../img/logo.jpeg"" alt="" width="30" height="24" class="d-inline-block align-text-top">
        TodoList
      </a>
      <div>
        <span style="margin-right: 30px;">김연규님 안녕하세요</span>

        <!-- 로그인 or 로그아웃 -->
        <button class="btn btn-outline-success" type="submit">로그아웃</button>
      </div>
    </div>
  </nav>
</body>
</html>